* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 2px solid black;*/
}

.article-img-box {
    flex: 0 0 30%;
    max-width: 30%;
}

.hero-section {
    background-color: #FFD75E;

}

.article-img-box img {
    width: 250px;
    height: 250px;
}

.second-preview {
    margin-left: 40px;
}

body {
    font-family: sans-serif;
    line-height: 1.8;
    letter-spacing: 0.6px;
}

.mainheader {
    background-image: url("images/Dansk madspild sættes under ekstra lup.foto_.jpg");
    width: 100%;
    height: 730px;
    display: flex;

}

h2 {
    font-size: 32px;

    font-weight: 900;
    font-family: Inter, serif;

}



.maintext::before {
    content: "Bekæmp madspild!";
    display: flex;
    margin-top: 250px;
    justify-content: start;
    color: #2f2f2d;
    font-size: 36px;
    line-height: 1;
    background-color: #FFD75E;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    font-family: Inter, sans-serif;
}



.maintext::after {
    content: "Vi smider 814.000 ton mad ud om året";
    display: flex;
    color: #F5F3ED;
    font-size: 60px;
    line-height: 1;
    font-family: Inter, sans-serif;

}
.wrapper {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 50%;
}

.small-section-box {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    font-weight: 100;
    color: #4b4848;
}

.paragraf-box {
    flex: 0 0 70%;
    max-width: 70%;
}

.background {
    width: 100%;
    background-color: #FFD75E;
    padding-bottom: 40px;

}

.article-background {
    margin-left: 190px;
    margin-right: 190px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF9E6;
    padding: 20px 240px 40px;

}



.paragraf {
    margin: 5px 0 20px;
    width: 100%;

}

.box-paragraf {
    margin: 5px 0;

}

.second-para {
    padding-right: 20px;
}

.paragraf-box {
    width: 100%;
    display: inline;
}

.summary {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    color: #807777;
    margin-top: 15px;
}

.info {
    display: flex;
    margin-bottom: 10px;

}

.header-two {
    font-size: 42px;
    line-height: 1.2;
}

.category {
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 7px;
    letter-spacing: 1.5px;
}

.reading-time {
    color: #938e8e;
    letter-spacing: 1.5px;
}
.summary-box {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}
footer{
    display: grid;
    width: 100%;
    margin-top: 40px;

}


.footer-content {
    display: flex;
    justify-content: center;
    margin-left: -180px;
    margin-right: -180px;
    background-color: #FFC107;
    padding-top: 20px;
    padding-bottom: 20px;


}


.facebook img {
    width: 50px;
    height: 50px;

}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram img {
    width: 50px;
    height: 50px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

li {
    padding: 5px 10px;
    list-style: none;
}

.navigation {
    display: flex;
    margin-left: 280px;
    margin-right: 280px;
}
.socials {
    display: flex;
    flex-direction: row-reverse;
}
.second-small-section-box{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
    margin-bottom: 30px;

}