<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link th:href="${ArtikelStyle.css}" rel="stylesheet" href="">
    <title>Title</title>
</head>
<body>
<main class="hero-section">
    <div>
        <img src="https://www.irexfo.eu/uploads/food-waste-problem-buckner-290818.jpg" alt="">
    </div>
    <div class="mainheader">
        <h1 class="maintext">
            Madgild spar på maden, dit madsvin
        </h1>
    </div>
</main>

<div class="background">
    <div class="article-background">
        <div class="summary-box">
            <p class="summary">
                30% af alle danskere køber for meget mad, de er madsvin.
            </p>
        </div>
        <div class="article-section-box">
            <div class="article-img-box">
                <img src="https://www.glostrupforsyning.dk/media/1943/illustration-madrester.jpg" alt="">
            </div>
            <div class="paragraf-box">
                <p>
                    Kantar Gallups seneste undersøgelse for forbrugerbevægelsen Stop Spild Af Mad afslører, at danskerne vil gerne købe de “grimme” og ukurante grøntsager i supermarkederne - men de skal være billigere.

                    Ifølge vores undersøgelse er hele 47 % af danskere - altså op mod hver 2. dansker – positivt indstillede på at købe “frasorterede” produkter i supermarkedet, fx. de “grimme” og ukurante grøntsager. Så langt så godt. Men hele 35 % svarer “ja, men til en reduceret pris”.

                    Ja, men til en reduceret pris… Men hvorfor egentligt?

                    Hvorfor forventer vi egentligt, at de krumme agurker, de alt for store tomater eller de skæve gulerødder skal være billigere? Blot fordi de ikke er lige så kønne som deres perfekte søskende, skal de så være minde værd?

                    Og især i vores moderne tider med mangfoldighed, inklusion og ligestilling - hvordan kan det egentligt være, at de gode trends med inklusion har ikke ramt detailhandlens kunder endnu?
                </p>
            </div>
        </div>
    </div>

</div>


</body>
</html>