<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link th:href="@{ArtikelStyle.css}" rel="stylesheet" href="../static/ArtikelStyle.css">
    <link th:href="@{NavBar.css}" rel="stylesheet" href="../static/NavBar.css">
    <title>Title</title>
</head>
<body>
<main class="hero-section">
    <div class="mainheader">
        <div class="wrapper">
            <h1 class="maintext">

            </h1>

        </div>

    </div>
    <div class="navi-section" >
        <div class="navbar" id="navbar">
            <a href="">Hvad er Madspild?</a>
            <a href="">Iværksætteri</a>
            <a href="">Sundhed</a>
        </div>
    </div>
</main>

<div class="background">

    <div class="article-background">

        <div class="summary-box">
            <ul class="info">
                <li class="category">Madspild</li>
                <li class="reading-time">Læsetid: 4 Min</li>
            </ul>
            <h2 class="header-two">Politikerne bør tvinge os til at reducere madspildet</h2>
            <p class="summary">
                Over en million ukrainere er flygtet ud af landet. Information har fulgt flygtningestrømmen fra Kyiv mod Polen, hvor familiebiler kører side om side med kampvogne til lyden af luftalarmer og eksplosioner. På grænsen må desperate flygtninge i dagevis kæmpe mod kulde, sult, slåskampe og racisme, før de kan krydse grænsen
            </p>
        </div>
        <div class="article-section-box">
            <div class="small-section-box">
                <div class="article-img-box">
                    <img class="article-preview"
                         src="https://www.glostrupforsyning.dk/media/1943/illustration-madrester.jpg" alt="">
                </div>
                <div class="paragraf-box">
                    <h2 class="article-header">
                        Danske madsvin
                    </h2>
                    <p class="box-paragraf">
                        Kantar Gallups seneste undersøgelse for forbrugerbevægelsen Stop Spild Af Mad afslører, at
                        danskerne vil gerne købe de “grimme” og ukurante grøntsager i supermarkederne - men de skal være
                        billigere.
                        Kantar Gallups seneste undersøgelse for forbrugerbevægelsen Stop Spild Af Mad afslører, at
                        danskerne vil gerne købe de “grimme” og ukurante grøntsager i supermarkederne - men de skal være
                        billigere.
                    </p>
                </div>
            </div>
            <div class="paragraf-box">
                <p class="paragraf">
                    Da jeg var yngre, har jeg i knap 10 år bijobbet som fotomodel bl.a. ved siden af mit studie og
                    som grafisk designer. Det var et hyggeligt bijob, men ikke noget, som jeg ville gøre en karriere
                    ud af. Jeg var en kommerciel fotomodel, hvilket betød, at jeg var model for alt fra tøj og
                    smykker til hudpleje, elektronik og tilbudsaviser - altså en slags hverdags-fotomodel.
                </p>
            </div>
            <div class="header2-box">
                <h2 class="article-header">
                    Madsvin
                </h2>
            </div>
            <div class="paragraf-box">
                <p class="paragraf">
                    Da jeg var yngre, har jeg i knap 10 år bijobbet som fotomodel bl.a. ved siden af mit studie og som
                    grafisk designer. Det var et hyggeligt bijob, men ikke noget, som jeg ville gøre en karriere ud af.
                    Jeg var en kommerciel fotomodel, hvilket betød, at jeg var model for alt fra tøj og smykker til
                    hudpleje, elektronik og tilbudsaviser - altså en slags hverdags-fotomodel.
                </p>
            </div>
            <div class="second-small-section-box">
                <div class="article-img-box">
                    <img class="article-preview second-preview"
                         src="https://www.glostrupforsyning.dk/media/1943/illustration-madrester.jpg" alt="">
                </div>
                <div class="paragraf-box">
                    <h2 class="article-header">
                        Danske madsvin
                    </h2>
                    <p class="box-paragraf second-para">
                        Kantar Gallups seneste undersøgelse for forbrugerbevægelsen Stop Spild Af Mad afslører, at
                        danskerne vil gerne købe de “grimme” og ukurante grøntsager i supermarkederne - men de skal være
                        billigere.  danskerne vil gerne købe de “grimme” og ukurante grøntsager i supermarkederne - men de skal være
                        billigere.
                    </p>
                </div>
            </div>
            <div class="paragraf-box">
                <p class="paragraf">
                    Da jeg var yngre, har jeg i knap 10 år bijobbet som fotomodel bl.a. ved siden af mit studie og
                    som
                    grafisk designer. Det var et hyggeligt bijob, men ikke noget, som jeg ville gøre en karriere ud
                    af.
                    Jeg var en kommerciel fotomodel, hvilket betød, at jeg var model for alt fra tøj og smykker til
                    hudpleje, elektronik og tilbudsaviser - altså en slags hverdags-fotomodel.
                </p>
            </div>

        </div>
        <footer>
            <div class="footer-content">
                <div class="logo">
                    <img src="https://png.pngtree.com/element_our/png/20180912/coffee-time-png_91570.jpg" alt="">
                </div>
                <nav class="navigation">
                    <ul class="list">
                        <li>
                            Hjem
                        </li>
                        <li>
                            Artikler
                        </li>
                        <li>
                            Madspild
                        </li>
                        <li>
                            Sundhed
                        </li>
                        <li>
                            Iværksætteri
                        </li>
                    </ul>
                </nav>
                <div class="socials">
                    <div class="facebook">
                        <img src="https://cityfys.dk/wp-content/uploads/2018/09/logo-facebook.png" alt="">
                    </div>
                    <div class="instagram">
                        <img src="https://www.voksi.com/wp-content/uploads/2019/01/instagram-logo.png" alt="">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script>
    //Dette er taget fra: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp
    // When the user scrolls the page, execute myFunction
    window.onscroll = function () {
        myFunction()
    };

    // Get the navbar
    var navbar = document.getElementById("navbar");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>

</body>
</html>